@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --text-color: #333;
  --border-color: #333;
  --fields-background-color: #fff;
  --box-shadows: -1px 1px 5px 5px rgba(50, 50, 50, 0.1);
  --green-color: #5cb85c;
  --green-color-darker: #52a552;
  --red-color: #d9534f;
  --red-color-darker: #c34a47;
  /* Default font size and smaller font size for answers fields */
  --default-font-size: 2rem;
  --smaller-font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(images/background-image.jpg) no-repeat center center/cover;
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

html,
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.7);
  z-index: 1;
}
/* ********************************************** */
/* ********************************************** */
/* Utility Classes */

.hidden {
  opacity: 0;
  transition: all 1s ease;
}

.visible {
  opacity: 1;
  transition: all 1s ease;
}

.green-b-b {
  border-top: var(--green-color) 2px solid !important;
  border-bottom: var(--green-color) 2px solid !important;
}

.red-b-b {
  border-top: var(--red-color) 2px solid !important;
  border-bottom: var(--red-color) 2px solid !important;
}

/* ********************************************** */
/* ********************************************** */
/* Title and options menu */

.container {
  margin: auto;
  max-width: 80%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.navbar {
  position: inherit;
  text-align: center;
  width: 100%;
  height: 6vh;
  padding-top: 1rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  font-size: 4rem;
  color: var(--text-color);
  font-weight: 700;
}

.navbar select {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--fields-background-color);
}
.navbar select:hover {
  box-shadow: var(--box-shadows);
  transition: box-shadow 0.15s ease-in;
}

.navbar select option {
  font-family: 'Play', Arial, Helvetica, sans-serif;
}

/* ******************************************** */
/* ******************************************** */
/* Flag container and the start button */
h3 {
  font-size: 2rem;
}
.flag-container {
  position: relative;
  width: 30.5rem;
  height: 18.2rem;
  background: var(--fields-background-color);
  z-index: 2;
  margin: 4rem auto 1rem;
  display: grid;
  place-items: center;
  border: 1px solid var(--border-color);
}

.flag {
  width: 29.5rem;
  height: 17.2rem;
  background: url(images/empty.jpg) no-repeat center center/cover;
  border: 1px solid var(--border-color);
}

.btn {
  position: inherit;
  z-index: 2;
  width: 30.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.7rem;
  border: 1px solid var(--border-color);
  border-radius: 0;
  background-color: var(--green-color);
}

.btn:hover {
  color: #fff;
  background-color: var(--green-color-darker);
  box-shadow: var(--box-shadows);
  transition: all 0.15s ease-in;
}

/* ***************************************** */
/* ***************************************** */
/* Answers grid */

.answers-grid {
  position: relative;
  width: 100%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  row-gap: 5vh;
  column-gap: 10vw;
}

.answers {
  position: inherit;
  z-index: 3;
  display: grid;
  place-content: center;
  gap: 1rem;
  width: 22rem;
  height: 5rem;
  background-color: var(--fields-background-color);
  font-size: var(--default-font-size);
  padding: 0.5rem;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.answers:hover {
  box-shadow: var(--box-shadows);
  transition: box-shadow 0.15s ease-in;
}

.score {
  width: 7vw;
  height: auto;
  background-color: var(--fields-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  border: 1px solid var(--border-color);
  z-index: 5;
}

.score p {
  font-size: 1.5rem;
  padding: 0.4rem 0;
}
.score p#hits {
  border-top: 2px solid var(--fields-background-color);
  border-bottom: 2px solid var(--fields-background-color);
}
.score p#misses {
  border-top: 2px solid var(--fields-background-color);
  border-bottom: 2px solid var(--fields-background-color);
}
/* *********************** */
/* Font Awesome Icons */
#up {
  font-size: 1.5rem;
  border-top: 2px solid var(--fields-background-color);
  border-bottom: 2px solid var(--fields-background-color);
  padding: 0.4rem 0;
  color: var(--green-color);
}
#down {
  font-size: 1.5rem;
  border-top: 2px solid var(--fields-background-color);
  border-bottom: 2px solid var(--fields-background-color);
  padding: 0.4rem 0;
  color: var(--red-color);
}

/* ***************************** */
/* ***************************** */
/* Game info part */
.game-info-container {
  position: inherit;
  z-index: 5;
  width: 100%;
  height: 7vh;
  background-color: var(--fields-background-color);
  border: 1px solid var(--border-color);
  margin: 3rem auto;
  display: grid;
  place-content: center;
}

.game-info {
  position: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
}

.game-info p {
  color: var(--text-color);
  font-size: 2.5rem;
  padding: 0.2rem 0.5rem;
}

/* *********************************** *?
/* Timer */
.time-buttons-container {
  position: inherit;
  width: 100%;
  z-index: 5;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time {
  width: 7vw;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  background-color: var(--fields-background-color);
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

button.quit {
  background-color: var(--red-color);
  margin-top: 1rem;
}
button.quit:hover {
  background-color: var(--red-color-darker);
}
/* ****************************************** */
/* Additional-info container */
.additional-info-container {
  margin: 2rem auto 0;
  position: inherit;
  width: 42%;
  height: auto;
  background-color: var(--fields-background-color);
  z-index: 5;
  text-align: center;
  border: 1px solid var(--border-color);
}
.additional-info {
  font-size: 2rem;
  padding: 0.5rem;
}
